doctype html
html(lang=lang)
    head
        title=title
        meta(name="viewport", content="initial-scale=1, user-scalable=no")
        meta(charset="UTF-8")
        meta(http-equiv="refresh", content="43200")
        link(type="text/css" rel="stylesheet" href="/public/build/bundle.css")
    body
        div(id="react-root")!=markup
        script(src=bundlePath)
